{% extends 'base.html' %}
{% load static %}


{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
{% endblock %}


{% block styles %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>

{% endblock %}

{% block content %}
    <div id="main">
        <div id="app">
        </div>
        <script src="{% static 'frontend/main.js' %}"></script>
    </div>


{% endblock %}